<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<title>ITACON - venda eletrônico de serviços públicos</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
<link href="#" th:href="@{/css/tiles.css}" rel="stylesheet"
	media="screen" />
</head>
<body>
	<section layout:fragment="content">
		<div class="container">
			<input type="hidden" name="${_csrf.parameterName}"
				value="${_csrf.token}" /> <input type="hidden" th:field="*{id}" />
			<div class="row">
				<div th:if="${#lists.isEmpty(institution.offeredServices)}">
					<h3 class="text-success text-center">Nenhum serviço
						registrado!</h3>
				</div>
				<div th:unless="${#lists.isEmpty(institution.offeredServices)}">
					<h4 class="text-success text-center" th:text="${institution.name}">Institution
						name</h4>
					<hr />
					<ul class="tile_output">
						<li th:each="service : ${institution.offeredServices}"><a
							th:href="@{/}"> <span th:text="${service.name}"> </span>
						</a>
							<p th:text="${service.price}" /></li>
					</ul>
				</div>
			</div>
			<div class="row"></div>
		</div>
	</section>
</body>

</html>