.wrapper { /*Used on first page to offset form-signin*/
	margin-top: 90px;
	/*margin-bottom: 20px;*/
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 90px auto -60px;
	/* Pad bottom by footer height */
	padding: 0 0 60px;
	height: auto;
}

body {
	height: 100%;
	background-color: white;
	font-size: 14px;
	line-height: 21px;
	font-family: "OpenSans", Arial, sans-serif;
}

div.container {
	margin-top: 1rem;
}
/*external wrapper of login and registration screen*/
.form-signin {
	max-width: 520px;
	padding: 30px 38px 66px;
	margin: 0 auto;
	background-color: #eee;
	border-radius: 10px;
	border: 1px solid #c5c5c5;
}

.form-signin-heading {
	text-align: center;
	margin-bottom: 30px;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
	padding: 10px;
}

input[type="text"] {
	margin-bottom: 0px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

input[type="password"] {
	margin-bottom: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.header {
	min-height: 80px;
}

/*Footer stuff*/
footer {
	background-color: #7c8696;
	color: white;
	height: 60px;
	width: 100%;
	position: fixed;
	left: 0px;
	bottom: 0px;
}

/* IE 6 */
* html footer {
	position: absolute;
	top: expression(( 0 -( footer.offsetHeight)+(document.documentElement.clientHeight?
		
		 document.documentElement.clientHeight: document.body.clientHeight)+(ignoreMe=
		
		 document.documentElement.scrollTop? document.documentElement.scrollTop:
		
		 document.body.scrollTop))+'px');
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.container .text-muted {
	margin: 20px 0;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

.content, .sidebar {
	min-height: 300px;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-brand {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	text-align: center;
	margin: auto;
}

.navbar-toggle {
	z-index: 3;
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #000080;
}
/* *********** */
/* Top Nav bar */
/* *********** */
#intro {
	width: 100%;
	background-color: #19283f;
}

.firstdiv {
	display: none;
}

.navbar-top {
	background: #4D5061;
	border-bottom: 4px solid #60B078;
	color: #FFF;
}

.text-white {
	color: #fff;
}

.navbar-doublerow>.navbar {
	padding: 0px auto;
	margin: 0px auto;
	min-height: 25px;
}

/*Down nav*/
.navbar-doublerow {
	/*navbar brand*/
	padding: 0px auto;
	float: left;
	color: #60B078;
	font-size: 30px;
}

.navbar-doublerow  ul>li>a {
	/*Menu items*/
	font-size: 15px;
	color: #000;
}

.navbar-doublerow ul>li>a:hover {
	/*menu hover*/
	border-bottom: 1px solid #60B078;
	color: #60B078;
}

h2.textintro {
	color: #cbd0d8;
	text-align: center;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* ********************* */
/* Nav bar customization */
/* ********************* */
.custom-navbar {
	background-color: #a8aeb7;
	color: #7ba4e5;
	margin-bottom: 10px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover,
	.navbar-default .navbar-nav>.active>a:focus {
	color: #FFF;
	background-color: #0e62ea;
	font-style: bold;
}

/* **************************** */
/* logout profile customization */
/* **************************** */
.navbar-login {
	width: 305px;
	padding: 10px;
	padding-bottom: 0px;
}

.navbar-login-session {
	padding: 10px;
	padding-bottom: 0px;
	padding-top: 0px;
}

.icon-size {
	font-size: 87px;
}

/* ************** */
/* Side bar       */
/* ************** */
.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus
	{
	color: #7ba4e5;
	background-color: #428bca;
}

.sidebar {
	cursor: pointer;
	padding-top: 10px;
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 0px;
	margin-right: 21px;
	border-radius: 10px;
	border: 1px solid #a8aeb7;
}

.nav-sidebar {
	margin-bottom: 0px;
}

.nav-sidebar>li>a {
	padding-right: 10px;
	padding-left: 10px;
	color: #444;
	font-size: 12px;
}

.formcssbody {
	background-color: #ffffff;
	border-radius: 10px;
	border: 1px solid #c5c5c5;
}

/*CONTENT MAIN AREA*/
.dynamic-content {
	margin-bottom: 60px;
	margin-left: 50px;
	margin-right: 50px;
	/*border: 1px solid #7c8696;*/
}

.fixed {
	height: 450px;
	overflow: hidden;
	/*border-right: 1px solid #7c8696;*/
	/*background: orange;*/
}

.scrollit {
	height: 450px;
	overflow-y: scroll;
	/*border-right: 1px solid #7c8696;*/
	/*background: lightgray;*/
}

/*Button styles*/
.btn-default-custom {
	background: #fff;
	border: 1px solid #4286f4;
}

.btn-default-custom:hover {
	background: #d2d8e0;
	border: 1px solid #4286f4;
}

.btn-group-vertical>button {
	margin-bottom: 10px;
	border-radius: 10px !important;
}

/*Phone number search box*/
/* This creates the space above and below the search box */
.row.search {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bluecolored {
	color: #0e62ea;
}

.customized_panel {
	margin-top: 5px;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/*Style on Institution Page*/
.box {
	display: inline-block;
}