<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>ITACON - Transação eletrônica de serviços públicos</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
<link href="#" th:href="@{/css/tiles.css}" rel="stylesheet"
	media="screen" />
</head>
<body>
	<section layout:fragment="content">

		<div th:if="${#lists.isEmpty(institutions)}">
			<h3 class="text-success text-center">Sem registro de ministério!</h3>
		</div>
		<div th:unless="${#lists.isEmpty(institutions)}">
			<ul class="tile_output">

				<li th:each="institution: ${institutions}"><a
					th:href="${'/itacon/institution/show/' + institution.id}"> <span
						th:text="${institution.name}"> </span>
				</a></li>

			</ul>
		</div>
	</section>

</body>
</html>