<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>ITACON - Transação eletrônica de serviços públicos</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
</head>

<body>
	<div class="container">
		<div class="row">
			<div th:include="signaccount::header"></div>
		</div>
		<div class="row">
			<div class="wrapper">
				<div th:if="${create_item_message}" th:text="${create_item_message}"
					th:class="${'alert ' + alertClass}"></div>
				<div th:unless="${create_item_message}">
					<div id="welcome">
						<p>Welcome!</p>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div th:include="headernfooter :: footer"></div>
		</div>
	</div>

	<div th:include="includes :: javascript_libs"></div>
</body>
</html>