<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>ITACON - Transação eletrônica de serviços públicos</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container-fluid">
		<div class="row">
			<div th:include="headernfooter :: headers"></div>
		</div>
		<div class="container">
			<section layout:fragment="content">
				<p>Page content goes here</p>
			</section>
		</div>
		<div class="row">
			<div th:include="headernfooter :: footer"></div>
		</div>
	</div>
	<div th:include="includes :: javascript_libs"></div>
</body>
</html>