<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>ITACON - Transação eletrônica de serviços públicos</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div th:include="headernfooter :: headers"></div>

	<section layout:fragment="content">
		<p>Page content goes here</p>
	</section>
	<footer layout:fragment="footer">
		<div class="navbar-fixed-bottom text-center">
			<div class="container">
				<p>&copy; 2016 Kikia Technologies</p>
			</div>
		</div>
	</footer>
	<div th:include="includes :: javascript_libs"></div>
</body>
</html>