<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>ITACON - Transação eletrônica de serviços públicos</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
</head>

<body>

	<section layout:fragment="content">
		<div class="row">
			<div class="dynamic-content text-left">
				<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 fixed">
					<div th:include="sidebar :: seller_menu_customer_items"></div>
				</div>
				<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 scrollit">
					<div th:include="customers :: customers"></div>
				</div>
			</div>
		</div>
	</section>

</body>
</html>