<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>

<title>ITACON - venda eletrônico de serviços públicos</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
</head>
<body>

	<div class="container">

		<div class="alert alert-danger">
			<strong>Error!</strong> Erro inesperado.
			negative action.
		</div>

		<div class="row">
			<div th:include="headernfooter :: footer"></div>
		</div>

	</div>

	<div th:include="includes :: javascript_libs"></div>
</body>
</html>