<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>ITACON - Transação eletrônica de serviços públicos</title>
<!--/*/ <th:block th:include="headerinc :: head"></th:block> /*/-->
</head>
<body>
	<section layout:fragment="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
					style="overflow: hidden; width: 100%;">

					<div style="float: left">
						<input id="search_user" data-table="order-table"
							name="search_user" type="search" class="light-table-filter"
							placeholder="Busca..." />
					</div>

					<div style="float: right;">
						<button type="button" class="btn btn-xs btn-success"
							name="add_user" id="add_user" data-toggle="modal"
							data-target="#myModalAddUser">cadastrar pessoa
							individual</button>
					</div>

					<!-- Modal -->
					<div class="modal fade" id="myModalAddUser" tabindex="-1"
						role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<!-- Modal Header -->
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal">
										<span aria-hidden="true">&times;</span> <span class="sr-only">Close</span>
									</button>
									<h4 class="modal-title" id="myModalLabel">Cadastrar pessoa
										individual</h4>
								</div>

								<!-- Modal Body -->
								<div class="modal-body">

									<form id="individuoForm" role="form" th:object="${individuo}"
										th:modelAttribute="individuo"
										th:action="@{/individuo/register}" method="POST">
										<input type="hidden" name="${_csrf.parameterName}"
											value="${_csrf.token}" /> <input type="hidden"
											th:field="*{id}" />
										<div class="form-group">
											<span style="display: inline-block;"> <label
												style="display: block;" for="nome">Nome</label> <input
												type="text" class="form-control input-sm" id="nome"
												th:field="*{firstName}" placeholder="Digita o nome"
												tabindex="1" />
											</span> <span style="display: inline-block;"> <label
												style="display: block;" for="sobrenome">Sobrenome</label> <input
												type="text" class="form-control input-sm" id="sobrenome"
												th:field="*{lastName}" placeholder="Digita o sobrenome"
												tabindex="2" />
											</span>

										</div>
										<div class="form-group">
											<label for="bidentidade">Bilhete de identidade</label> <input
												type="text" class="form-control input-sm" id="bidentidade"
												th:field="*{BI}"
												placeholder="Digite o bilhete de identidade..." tabindex="3" />
										</div>
										<div class="form-group">
											<label for="nif">Número de identificação fiscal</label> <input
												type="text" class="form-control input-sm" id="nif"
												th:field="*{NIF}"
												placeholder="Digite o número de identificação fiscal..."
												tabindex="4" />
										</div>
										<div class="form-group">
											<label for="telefone">Número de telefone</label> <input
												type="tel" class="form-control input-sm" id="telefone"
												th:field="*{phone}"
												placeholder="Digite o número de telefone..." tabindex="5" />
										</div>
										<div style="overflow: hidden; width: 100%;">
											<div style="float: right">
												<button type="submit" class="btn btn-success" tabindex="6">Submit</button>
											</div>
										</div>
									</form>


								</div>

								<!-- Modal Footer -->
								<div class="modal-footer">
									<p>---</p>
								</div>
							</div>
						</div>
					</div>


				</div>
			</div>

			<hr />
			<div class="row">
				<div th:if="${#lists.isEmpty(individuos)}">
					<h3 class="text-center" style="color: green">Sem registros</h3>
				</div>
				<div th:unless="${#lists.isEmpty(individuos)}">
					<h4 class="text-center">Utentes dos serviços públicos</h4>
					<table id="individuos_table"
						class="order-table table table_customized_style">
						<thead>
							<tr class="table_header_style">
								<th class="center-cell-content" style="width: 250px;">Nome</th>
								<th class="center-cell-content">BI</th>
								<th class="center-cell-content">NIF</th>
								<th class="center-cell-content">Telefone</th>
								<th class="center-cell-content">Editar</th>
								<th class="center-cell-content">Apagar</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="individuo : ${individuos}">
								<td class="center-cell-content"
									th:text="*{individuo.firstName +' '+ individuo.lastName}" />
								<td class="center-cell-content" th:text="*{individuo.BI}" />
								<td class="center-cell-content" th:text="*{individuo.NIF}" />
								<td class="center-cell-content" th:text="*{individuo.phone}" />
								<td class="center-cell-content"><a
									th:href="${'/itacon/individuo/info/'+individuo.id}"><span
										class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></td>
								<td class="center-cell-content"><a
									th:href="${'/itacon/individuo/delete/'+individuo.id}"><span
										class="glyphicon glyphicon-remove" aria-hidden="true"></span></a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<!-- div container inside section -->
	</section>
</body>
</html>